/*!* Hide managed rows before JS runs to prevent flicker *!*/
/*tr.managed-field {*/
/*    display: none;*/
/*}*/
/*!* Rows that should be visible initially (clientType, businessType, businessNature) *!*/
/*tr.managed-field.always-show {*/
/*    display: table-row;*/
/*}*/



/* Optional: make sure cells behave properly */
td.tdLabel {
    white-space: nowrap;
    vertical-align: top;
    padding-right: 8px;
}

.profileForm-field{
    width: 279px;
    box-sizing: border-box;
}